:root {
  --background-color: #fff;
  --primary: hsl(195, 85%, 41%);
  --primary-hover: hsl(195, 90%, 32%);
  --primary-focus: rgba(16, 149, 193, 0.125);
  --primary-inverse: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #11191f;
    --primary: hsl(195, 85%, 41%);
    --primary-hover: hsl(195, 90%, 32%);
    --primary-focus: rgba(16, 149, 193, 0.125);
    --primary-inverse: #fff;
  }
}

html {
  background-color: var(--background-color);
}
